@*
    Admin Sidebar
*@
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
        <a class="sidebar-brand brand-logo" href="index.html"><img src="~/Templates/Breeze/template/assets/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="index.html"><img src="~/Templates/Breeze/template/assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="~/Templates/Medinova-1.0.0/img/team-3.jpg" alt="profile" />
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column pr-3">
                    <span class="font-weight-medium mb-2">Dr.@Session["FullName"]</span>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Randevular</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Default/Index">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Siteye Dön</span>
            </a>
        </li>
    </ul>
</nav>
