@model List<Medinova.Models.Contact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row mb-4">
    <div class="col-12">
        <div class="dashboard-section-header d-flex justify-content-between align-items-center">
            <div>
                <h4 class="mb-1 section-title">İletişim Bilgilerimiz</h4>
                <p class="mb-0 section-subtitle">
                    İletişim bilgilerimi düzenlemelerini bu sayfadan yapabilirsiniz...
                </p>
            </div>
            <a href="/Admin/Contacts/CreateContact" class="btn btn-outline-light rounded-pill px-4 py-2 d-inline-flex align-items-center gap-2">
                <i class="fa fa-plus-circle"></i>
                Yeni Ekle
            </a>
        </div>
    </div>
</div>
<div class="admin-table">
    <div class="table-responsive">
        <table class="table table-borderless align-middle">
            <thead class="fw-semibold text-dark">
                <tr>
                    <th>Harita</th>
                    <th>EMail</th>
                    <th>Telefon</th>
                    <th>Adres</th>
                    <th>İşlemler</th>

                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {


                    <tr class="align-middle">
                        <td>
                            <iframe src="@item.MapUrl" width="150" height="150" style="border:0; border-radius:12px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </td>
                        <td>@item.Email </td>
                        <td>@item.Phone </td>
                        <td>@(item.Address.Length > 40 ? item.Address.Substring(0, 40) + "..." : item.Address)  </td>
                        <td class="text-center">
                            <button type="button" onclick="confirmDelete('/Admin/Contacts/DeleteContact/@item.ContactId')" class="btn btn-danger btn-circle">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                        <td>
                            <a href="/Admin/Contacts/UpdateContact/@item.ContactId" class="btn btn-primary btn-circle">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>




