<div class="container-fluid bg-dark text-light mt-5 py-5">
    <div class="container py-5">
        <div class="row g-5">

            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    İletişime Geçin
                </h4>
                <p class="mb-4">
                    Sağlık hizmetlerimiz hakkında bilgi almak veya randevu oluşturmak için
                    bizimle dilediğiniz zaman iletişime geçebilirsiniz.
                </p>
                <p class="mb-2">
                    <i class="fa fa-map-marker-alt text-primary me-3"></i>
                    Merkez, Halaskargazi Cd. No:157, 34381 Şişli/İstanbul
                </p>
                <p class="mb-2">
                    <i class="fa fa-envelope text-primary me-3"></i>
                    info@medinova.com
                </p>
                <p class="mb-0">
                    <i class="fa fa-phone-alt text-primary me-3"></i>
                    +90 212 555 00 00
                </p>
            </div>

            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Hızlı Menü
                </h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-light mb-2" href="#!">
                        <i class="fa fa-angle-right me-2"></i>Ana Sayfa
                    </a>
                    <a class="text-light mb-2" href="#!">
                        <i class="fa fa-angle-right me-2"></i>Hakkımızda
                    </a>
                    <a class="text-light mb-2" href="#!">
                        <i class="fa fa-angle-right me-2"></i>Hizmetlerimiz
                    </a>
                    <a class="text-light mb-2" href="#!">
                        <i class="fa fa-angle-right me-2"></i>Doktorlarımız
                    </a>
                    <a class="text-light mb-2" href="#!">
                        <i class="fa fa-angle-right me-2"></i>Sağlık Blogu
                    </a>
                    <a class="text-light" href="#!">
                        <i class="fa fa-angle-right me-2"></i>İletişim
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Popüler Bağlantılar
                </h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-light mb-2" href="#!">
                        <i class="fa fa-angle-right me-2"></i>Online Randevu
                    </a>
                    <a class="text-light mb-2" href="#!">
                        <i class="fa fa-angle-right me-2"></i>Uzman Doktorlar
                    </a>
                    <a class="text-light mb-2" href="#!">
                        <i class="fa fa-angle-right me-2"></i>Poliklinikler
                    </a>
                    <a class="text-light mb-2" href="#!">
                        <i class="fa fa-angle-right me-2"></i>Sağlık Rehberi
                    </a>
                    <a class="text-light mb-2" href="#!">
                        <i class="fa fa-angle-right me-2"></i>Sık Sorulan Sorular
                    </a>
                    <a class="text-light" href="#!">
                        <i class="fa fa-angle-right me-2"></i>Bize Ulaşın
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Bülten
                </h4>
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-3 border-0" placeholder="E-posta Adresiniz">
                        <button class="btn btn-primary">Kaydol</button>
                    </div>
                </form>

                <h6 class="text-primary text-uppercase mt-4 mb-3">Bizi Takip Edin</h6>
                <div class="d-flex">
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#!">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#!">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#!">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#!">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid bg-dark text-light border-top border-secondary py-4">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-md-0">
                    &copy; <a class="text-primary" href="#!">Medinova</a>. Tüm Hakları Saklıdır.
                </p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="mb-0">
                    Tasarım & Geliştirme:
                    <a class="text-primary" href="#!" target="_blank">Medinova Yazılım Ekibi</a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Back to Top -->
<a href="#!" class="btn btn-lg btn-primary btn-lg-square back-to-top">
    <i class="bi bi-arrow-up"></i>
</a>
