
<div class="container-fluid py-2 border-bottom d-none d-lg-block bg-white">
    <div class="container">
        <div class="announcement-wrapper">
            <div class="announcement-track" id="announcementTrack">
                🏥 Medinova Hastanesi | 7/24 Acil Servis Hizmeti
                &nbsp;&nbsp;•&nbsp;&nbsp;
                👨‍⚕️ Online Randevu Sistemi Aktif
                &nbsp;&nbsp;•&nbsp;&nbsp;
                🤖 Yapay Zeka Sağlık Asistanı Yayında
                &nbsp;&nbsp;•&nbsp;&nbsp;
                🎉 Check-Up Paketlerinde %20 İndirim
            </div>
        </div>
    </div>
</div>

<style>
    .announcement-wrapper {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 22px;
    }

    .announcement-track {
        position: absolute;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 600;
        color: #0dcaf0;
        will-change: transform, opacity;
    }
</style>


